<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head"}}
    </head>
    <body>
        <h1>Admin</h1>
        <p>
            This is the WebUI admin block
        </p>
        <span class="status"></span>

        <h2>Restart mewld</h2>
        <button onclick="restartMewdl()">Restart</button>

        <h2>Add template to webui</h2>
        <button onclick="addTemplate()">Add</button>

        <h2>Remove template from webui</h2>
        <button onclick="removeTemplate()">Remove</button>

        <h2>Reload mewld webui</h2>
        <button onclick="reloadMewdl()">Reload</button>

        <h1>Action Logs</h1>
        <p id="action-logs">Fetching action logs...</p>

        <h1>Clusters</h1>

        <div id="cluster-list">
            {{range $cluster := .InstanceList.Map}}
                <div class="cluster">
                    <p class="cluster-para">{{$cluster.ID}}. {{$cluster.Name}}</p>
                    <div class="cluster-pane" id="c-{{$cluster.ID}}">
                        Loading cluster information...
                    </div>
                </div>
            {{end}}
        </div>

        <h1>Guilds</h1>
        <p>Get all guilds of this user.</p>
        <button onclick="getGuilds()">Load Guilds</button>
        <div class="guild-list"></div>

        <h1>Permissions Config</h1>
        <p>
        A "permissions config" can be used to store config for the permissions of admin commands. 
            
        These can then be transferred to other bots and/or applied to other bots allowing for permissions to be quickly set on a beta instance and then easily pushed to a production one.
        </p>
        <button onclick="createConfig()">Create New Config</button>
        <div id="config-list"></div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var instanceMap = null
        var pconfigs = null

        function renderConfigs() {
            for(const cfgName in pconfigs) {
                $("#config-list").append(`
                <p>${cfgName}</p>
                <p><strong>Config Data: </strong>${JSON.stringify(pconfigs[cfgName])}</p>

                <button onclick="addConfigVar('${cfgName}')">Add Variable</button>
            `)
            }
        }

        function changeConfigForm(rid) {
            let role = document.querySelector(`#config-select-${rid}`).value

            if(role) {
                $(".active").each(function() {
                    $(this).removeClass("active")
                })
                $(`#cfgrole-${role}-${rid}`).addClass("active")
            }
        }

        function renderConfigSelect() {
            // Creates the config form

            let randomId = Math.random().toString(36).substring(9)

            let configList = `
            <br/>
            <select id="config-select-${randomId}" onchange="changeConfigForm('${randomId}')">
                <option value="">Select A Config</option>
            `

            let configDiv = ""
            for(const cfgName in pconfigs) {
                configList += `
                    <option value="${cfgName}">${cfgName}</option>
                `

                let varSelect = `<select id="config-vars-${cfgName}-${randomId}">`

                pconfigs[cfgName].Vars.forEach(v => {
                    varSelect += `
                        <option value="${v}">${v}</option>
                    `
                })

                varSelect += `</select>`

                configDiv += `
                    <div id="cfgrole-${cfgName}-${randomId}" style="display: none">
                        <br/><br/>
                        <strong>Select a role variable on ${cfgName}</strong><br/>
                        ${varSelect}
                    </div>
                `
            }

            configList += `</select>`

            return {cfg: `${configList} ${configDiv}`, rid: randomId}
        }

        async function addConfigVar(name) {
            const varName = prompt("Variable Name (prefix with minus to remove)")

            if(!varName) {
                return
            }

            let res = await fetch(`/configs/vars?cfg=${name}&name=${varName}`, {
                method: "POST",
            })

            if(res.ok) {
                alert("Config created")
                return
            }

            let text = await res.text()

            console.log(text)
            alert(text)
        }

        async function createConfig() {
            let cfgName = prompt("Enter a name for the config")

            if (!cfgName) {
                return
            }

            let res = await fetch(`/configs?name=${cfgName}`, {
                method: "POST",
                credentials: "include"
            })

            if(res.ok) {
                alert("Config created")
                return
            }

            let text = await res.text()

            console.log(text)
            alert(text)
        }

        async function getGuilds() {
            let res = await fetch("/guilds", {
                credentials: "include",
            })

            let data = await res.json()

            console.log(data)

            console.log("Is cached: ", res.headers.get("X-Cached") == "true")

            data.forEach(el => {
                $(".guild-list").append(`
                <p class="clickable" onclick="showAld('${el.id}')">${el.id} - ${el.name}</p>
                <div class="guild-pane" style="display: none" id="ald-${el.id}">
                    <strong>Fetch Guild Commands</strong><br/>
                    <button onclick="fetchGuildCommands('${el.id}')">Fetch Commands</button>
                    <div class="guild-commands" id="cmd-${el.id}"></div>
                </div>
            `)
            })
        }

        async function fetchCommandPermissions(gid, id) {
            // /applications/{application.id}/guilds/{guild.id}/commands/{command.id}/permissions
            let res = await fetch(`/cperms?guildId=${gid}&commandId=${id}`)

            let data = await res.json()

            if(data.message) {
                alert(data.message)
                return
            }

            $(`#cmd-${id}`).html(JSON.stringify(data))
        }

        async function fetchGuildCommands(id) {
            let res = await fetch(`/commands?guildId=${id}`)

            if(!res.ok) {
                alert("Failed to fetch commands")
                return
            }

            let data = await res.json()

            if(data.code) {
                alert(data.message)
                return
            }

            var fHtml = ""

            data.forEach(el => {
                let dataCfg = renderConfigSelect();

                let text = dataCfg.cfg;
                let rid = dataCfg.rid;


                html = `
<strong>Command ID: </strong>${el.id}<br/>
<strong>Command Name: </strong>${el.name}<br/>
<p>${el.description}</p> 
<br/>
<strong>Fetch command permissions</strong><br/>
<button onclick="fetchCommandPermissions('${id}', '${el.id}')">Fetch Permissions</button>
<br/><br/>
<strong>Add Role Permission</strong><br/>
<div id="role-perm-form">
    ${text}
    <br/><br/>
    <button onclick="addRolePermission('${el.name}', '${rid}')">Add Role Permission</button>
</div>
<br/>
<div id="cmd-${el.id}"></div>
<br/><br/>
                `
                console.log(el)

                fHtml += html
            })

            $(`#cmd-${id}`).html(fHtml)
        }

        async function addRolePermission(name, rid) {
            let cfgName = document.querySelector(`#config-select-${rid}`).value

            alert(cfgName)

            if(!cfgName) {
                return
            }

            let roleId = document.querySelector(`#config-vars-${cfgName}-${rid}`).value

            if(!roleId) {
                return
            }
            
            let res = await fetch(`/cperms?cmd=${name}&var=${roleId}&cfg=${cfgName}`, {
                method: "POST",
                credentials: "include"
            })

            if(res.ok) {
                alert("Config updated")
            }
        }

        async function restartMewdl() {
            let p = prompt("Are you sure you want to restart mewdl (Yes/No)");

            if(p != "Yes") {
                return;
            }

            let res = await fetch("/redis/pub", {
                credentials: "include",
                method: "POST",
                body: JSON.stringify({
                    "scope": "launcher",
                    "action": "restartproc"
                })
            });
            if (res.ok) {
                alert("Restarting mewld");
            } else {
                alert("Failed to restart mewld");
            }
        }

        async function addTemplate() {
            let templName = prompt("Enter template name")

            if (templName) {
                let res = await fetch(`/addtemplate?name=${templName}`, {
                    credentials: "include",
                    method: "POST",
                });
            }
        }

        async function removeTemplate() {
            let templName = prompt("Enter template name")

            if(templName == "head") {
                alert("Cannot remove head template");
                return;
            }

            if (templName) {
                let res = await fetch(`/removetemplate?name=${templName}`, {
                    credentials: "include",
                    method: "POST",
                });
            }
        }

        async function reloadMewdl() {
            let res = await fetch("/reload", {
                credentials: "include",
            });
            if (res.ok) {
                alert("Reloading mewdl");
                window.location.reload()
            } else {
                alert("Failed to reload mewdl");
            }
        }

        let status = "offline"

        function trigger() {
            if(status == "offline") {
                $(".status").text("Offline");
                $(".status").css("color", "red");
            } else if(status == "online") {
                $(".status").text("Online");
                $(".status").css("color", "green");
            } else {
                $(".status").text("Unknown");
                $(".status").css("color", "black");
            }
        }

        function renderInstanceMap() {
            instanceMap.Instances.forEach(i => {
                $(`#c-${i.ClusterID}`).html(`
<strong>Session ID:</strong> ${i.SessionID}<br/>
<strong>Shards:</strong> ${i.Shards.join(', ')}<br/>
<strong>Started At:</strong> ${i.StartedAt}<br/>
<strong>Active:</strong> ${i.Active}<br/>
<strong>Locked:</strong> ${i.Locked}<br/>
                `);
                $(`#c-${i.ClusterID}`).addClass(i.Active ? "c-active" : "c-inactive");
                console.log(i)
            })
        }

        function showAld(i) {
            let el = document.querySelector(`#ald-${i}`)

            if(el.style.display == "none") {
                el.style.display = "initial"
            } else {
                el.style.display = "none"
            }
        }

        async function fetchActionLogs() {
            let res = await fetch("/action-logs", {
                credentials: "include",
            });
            if (res.ok) {
                let data = await res.json();

                let html = ``;

                i = 0

                data.forEach(el => {
                    console.log(el)

                    html += "<div>"

                    ald = ""

                    switch (el.event) {
                        case "shards_launched":
                            if(!el.cluster && el.cluster != 0) {
                                el.cluster = '<span class="unknown">unknown</span>'
                            }
                            html += `<p class="clickable" onclick="showAld(${i})" id="alp-${i}">Cluster ${el.cluster} launched successfully</p>`;
                            ald += `<strong>Cluster:</strong> ${el.cluster}<br/><strong>From shard:</strong> ${el.from}<br/><strong>To shard:</strong> ${el.to}`;
                            break;
                        default:
                            html += `<p class="clickable" onclick="showAld(${i})" id="alp-${i}">Unknown event: ${JSON.stringify(el)}</p>`;
                            break;
                    }

                    html += `
                        <div class="ald" style="display: none" id="ald-${i}">
                            <strong>Timestamp: </strong><span class="ts">${new Date(el.ts/1000)}</span><br/>
                            ${ald}
                        </div>
                    </div>`

                    i++
                })

                $("#action-logs").html(html);
            } else {
                $("#action-logs").html("Failed to fetch action logs");
                console.error("Failed to fetch action logs");
            }
        }

        $(document).ready(function() {
            console.log("Starting connection health timer")

            setInterval(function() {
                const controller = new AbortController()

                // 5 second timeout:
                const timeoutId = setTimeout(() => controller.abort(), 500)


                fetch("/ping", { signal: controller.signal })
                .then(r => {
                    if(r.ok) {
                        status = "online"
                    } else {
                        status = "ping-failed"
                    }

                    trigger()
                })
                .catch(function() {
                    status = "offline"
                    trigger()
                })
            }, 5000);

            // Fetch instance map
            fetch("/instance-list", { credentials: "include" })
            .then(r => r.json())
            .then(r => instanceMap = r)
            .then(_ => {
                // Render cluster view
                renderInstanceMap()
                // Fetch action logs
                fetchActionLogs()
            })

            // Fetch permission configs
            fetch("/configs", { credentials: "include" })
            .then(r => r.json())
            .then(r => {
                pconfigs = r
                // Render config view
                renderConfigs()
            })
        });
    </script>
</html>